import * as api from './api';
import * as cs from './constant';
import * as schema from './schema';
import { CALL_API } from './constant';


function createActionTypes(type) {
  return {
    get DEFAULT() { return cs[`${type}`] },
    get REQUEST() { return cs[`${type}_REQUEST`] },
    get SUCCESS() { return cs[`${type}_SUCCESS`] },
    get FAIL() { return cs[`${type}_FAIL]`] },
  }
}

{{ range $key, $value := . }}
export const {{ $key }}ActionTypes = {
  {{ range $value }}
  {{ .Name }}: createActionTypes(cs.{{ .Type }}),
  {{ end }}
};
{{ end }}

{{ range $key, $value := . }}
export const {{ $key }} = {
  {{ range $value }}
  {{ .Name }}({ {{ range .Parameters }}
    {{ .Name }},{{ end }}
  }, meta) {
    return {
      [CALL_API]: {
        endpoint: api.{{ $key }}.{{ .Name }}({ {{ range .Parameters }}
          {{ .Name }},{{ end }}
        }),
        types: [cs.{{ .Type }}_REQUEST, cs.{{ .Type }}_SUCCESS, cs.{{ .Type }}_FAIL],
        meta: meta,
        schema: schema.{{ .SchemaName }}
      },
    };
  },
  {{ end }}
};
{{ end }}

