import { schema } from 'normalizr';


{{ range . }}{{ if .Normalizable }}{{ if eq .Class "Object" }}
export const {{ .Name | CamelCase }} = new schema.Object({ {{ range $key, $value := .Deps }}
  {{ $key | CamelCase }}: {{ $value }},{{ end }}
});{{ else if eq .Class "Entity" }}
export const {{ .Name | CamelCase }} = new schema.Entity('{{ .Name | CamelCase }}', { {{ range $key, $value := .Deps }}
  {{ $key | CamelCase }}: {{ $value }},{{ end }}
}, { idAttribute: 'uri' });{{ end }}
{{ end }}{{ end }}